@tailwind base;
@tailwind components;
@tailwind utilities;

/**==================================================================
**			Font 
**=================================================================*/
@font-face {
  font-family: "IBMPlexSans";
  font-weight: normal;
  src: url("IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "IBMPlexSans";
  font-weight: 600;
  src: url("IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "IBMPlexSans";
  font-weight: 900;
  src: url("IBMPlexSans-Bold.ttf");
}

html {
  position: relative;
  overflow: hidden;
  background-color: theme(colors.zinc[900]);
  color: theme(colors.white);
}

body {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: auto;
  color: theme(colors.white);
}

::selection {
  @apply bg-blue-300;
}

::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-zinc-900/10; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.zinc.400); /* color of the scroll thumb */
  border-radius: 999px; /* roundness of the scroll thumb */
}

h1,
h2,
h3,
h4,
h5 {
  &:focus {
    outline: rgba(0, 0, 0, 0.01) solid 1px;
  }
}

._perspective {
  transform: translateZ(-0.4px) scale(1.4);
  transform-style: preserve-3d;
  contain: style layout size;
}

.text-shadow {
  text-shadow: 0 0px 8px var(--tw-shadow-color, theme(colors.zinc[900])),
    0 0px 16px var(--tw-shadow-color, theme(colors.zinc[900])),
    0 0px 24px var(--tw-shadow-color, theme(colors.zinc[900]));

  &::selection {
    text-shadow: none;
  }
}

/*
  Code theme
  Based on vitesee
  https://github.com/antfu/prism-theme-vars/blob/master/themes/vitesse-dark.css
  
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
}

.hljs,
#bg_code {
  color: #68b4a2;
  font-weight: bold;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #ea4236;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #7746ff;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #00a2ff;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #51dcff;
}
.hljs-built_in,
.hljs-symbol {
  color: #ff3f3f;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #5b92bc;
}
.hljs-comment {
  line-height: 1;
  display: inline-block;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag,
.hljs-tag {
  color: #3ce6be;
}
.hljs-subst {
  color: #ff2e5b;
}
.hljs-section {
  color: #bd8f8f;
  font-weight: 700;
}
.hljs-bullet {
  color: #888888;
}
.hljs-emphasis {
  color: #bd8f8f;
  font-style: italic;
}
.hljs-strong {
  color: #c99076;
  font-weight: 700;
}
.hljs-addition {
  color: #4d9375;
}
.hljs-deletion {
  color: #cb7676;
}

.prose_ {
  & p {
    @apply mt-1 text-zinc-400;
  }
  & h3 {
    @apply mt-16 mb-4 text-center text-3xl font-bold;
  }

  & *::selection {
    text-shadow: none;
  }

  & a {
    @apply font-medium;
  }

  > .subtext {
    font-size: 12px;
    font-weight: medium;
    color: theme(colors.zinc[400]);
    text-align: center;
  }

  & > img,
  & > video {
    min-width: none;
    margin-left: 0px;
    margin-top: 2rem;
    @apply rounded-2xl shadow-md;

    @media screen(md) {
      min-width: 130%;
      margin-left: -15%;
    }
  }
}
